#prompts {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(189, 72, 72);
    color: #fff;
    text-align: center;
    /* justify-content: center; */
    border-radius: 15px;
    /* padding: fixed;  <-- Remove this line */
    padding: 5px;
    /* Add this line */
    z-index: 1;
    /* left: 50%;  <-- Remove this line */
    /* bottom: 30px;  <-- Remove this line */
    position: fixed;
    /* Add this line */
    left: 50%;
    /* Add this line */
    bottom: 30px;
    /* Add this line */
    font-size: 20px;
}

#prompts.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* ... CSS animations code ... */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}